
  .striked{
    text-decoration: line-through;
    color: rgb(10, 49, 127);
    font-size: 50px;
    /* margin-left: 700px; */
}
.nothing{
    color: rgba(0, 0, 0, 0.893);
    margin-left: 10px;
    font-size: 50px;
    /* margin-top: 40px; */
}
.task{
  display: flex;
  gap: 10px;
  color: rgb(0, 0, 0);

  /* margin-left: 700px; */
}
.check{
height: 60px;
width: 60px;
margin: 10px;

}
.del{
  height: 60px;
  width: 60px;
  font-size: 50px;
  margin: 10px;

  }

